* {
    margin: 0;
    padding: 0;
}

.tudo {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

/* SIDEBAR */

.sidebar {
    width: 100%;
    height: 62.625rem;
}

#imagem {
    border: none;
    width: 9.171rem;
    height: 8.759rem;
    margin-left: 4.014rem;
    margin-top: 3.251rem;
}


.container-1 li {
    list-style: none;
    margin-bottom: 0.625rem;
}

.abas ul {
    margin-left: 2.5rem;
}

.abas ul li {
    height: 3.114rem;
    margin-top: 2.188rem;
    padding: 0.125rem;
    display: flex;
}

.abas h2 {
    color: #666666;
    ;
    margin-top: 0.7rem;
    margin-left: 0.938rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    cursor: pointer;
}

img {
    width: 1.875rem;
    cursor: pointer;
}


.abas-2 {
    width: 12.5rem;
    margin-top: 11.25rem;
    margin-left: 0.625rem;
}

.help {
    margin-top: 15px;
}

.out {
    margin-top: 15px;
}

.abas-2 ul li {
    display: flex;
}

.abas-2 h2 {
    margin-left: 0.938rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.313rem;

    color: #666666;
    cursor: pointer;
}

/* MAIN */

.main {
    width: 46.125rem;
    height: auto;
    margin-top: 2.5rem;
    padding: 0.625rem;
    box-sizing: border-box;
}

.flex {
    display: flex;
    gap: 50px;
}

.foto-perfil img {
    width: 145px;
    height: 145px;
    border-radius: 100%;
    margin-top: 28px;
}

.editar-perfil {
    display: flex;
    gap: 100px;
    margin-top: 60px;
}

.editar {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    /* identical to box height */


    color: #042A3F;
}

.editar2 button {
    width: 165px;
    height: 52.49px;
    left: 745px;
    top: 55px;

    background: #8886E7;
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
    cursor: pointer;

    border: none;
}

.editar2 a {
    text-decoration: none;
}

.info2 {
    display: flex;
    gap: 32px;
    margin-left: 200px;
    margin-top: -40px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #042A3F;
}

.info3 {
    margin-left: 195px;
    margin-top: 15px;
}

.titulo h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;

}

.biografia p {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    width: 506px;
    color: #000000d2;
}

.destaques {
    display: flex;
    gap: 28px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 30px;
}


.destaques img {
    width: 116px;
    border: 1px solid #666666;
    border-radius: 100%;
    margin-top: 20px;
}

.nav-post {
    display: flex;
    max-width: 1200px;
    min-width: 400px;
    gap: 15rem;
    margin-top: 40px;
    width: 100%;
    height: 50px;
    border-top: 0.063rem solid rgba(0, 0, 0, 0.295);
    justify-content: center;
}

.nav-post h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
    /* identical to box height */


    color: #042A3F;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 10px;
    margin-top: 20px;
    justify-content: start;
}

.posts img {
    width: 300px;
    height: 300px;
}

#adicionar {
    position: absolute;
    border: none;
    width: 50px;
    left: 643px;
    top: 420px;
}

@media (max-width: 1200px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-post {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }

    .posts img {
        width: 300px;
        height: 200px;
    }

    .posts {
        margin-top: 4rem;
    }

    .nav-post {
        display: block;
    }

}

@media (max-width: 800px) {
    body {
        background-color: red;
    }
}

@media (max-width: 768px) {
    body {
        background-color: blue;
    }
}


@media (max-width: 600px) {
    body {
        background-color: green;
    }

}

@media (max-width: 425px) {
    body {
        background-color: yellow;
    }
}
